<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auth</title>
        
    </head>
    <body style="
    display : block;">
        {% include "prof/base-view.html" %}
        <nav style="
        height: 30px;
        background-color: rgb(39,68,126);
        margin-block-end: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    ">
        <form action="">

        </form>
        <a href="//localhost:8000/logout" style="
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            background-color: aqua;
            text-decoration: none;
            color: initial;
            border-radius: 8px;
            padding: 4px 8px;
        ">Logout</a>
        </nav>
        {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="
        color: red;
        text-align: center;
        list-style-type: none;
    ">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
        {% block body %}

        {% endblock %}
    </body>

</html>