<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auth</title>
    </head>
    <body style="
    display : block;">
        {% include "prof/base-view.html" %}
        <nav style="
        height: 30px;
        background-color: rgb(39,68,126);
        margin-block-end: 20px;
    ">

        </nav>
        {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="
        color: red;
        text-align: center;
        list-style-type: none;
    ">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
        {% block body %}

        {% endblock %}
    </body>

</html>