{% extends "prof/base.html" %}

{% block body %}

{%if len == 0%}
<form method="POST" style="
text-align: center;
">

    {% csrf_token %}
    <p>Phase - {{phase}}</p>
    <p>Professor id- {{prof}}</p>
    <div style="text-align: center;">
        <div style="
        display: flex;
        justify-content: center;
    ">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Rubrics name</th>
                <th>Rubrics max marks</th>
                <th>Marks assigned</th>
            </tr>
        </thead>
        <tbody>
            {%for a in rubrics %}
            <input type="hidden" id="custId" name="usn" value="{{usn}}">
            <tr>
                <td><p>{{a.rname}}</p></td>
                <td><p>{{a.r_max_marks}}</p></td>
                <td><input type="number" id="quantity" name="{{a.rname}}" min="0.0" max="{{a.r_max_marks}}"></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
    <button
    style="
    border-radius: 8px;
    font-size: 20px;
    background-color: #27447e;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
">Save</button>
</div>
</form>
<div style="
display: flex;
justify-content: center;
">
{%if deli is not none%}
<table class="styled-table">
    <thead>
        <tr>
            <th>Deliverable name</th>
            <th>Deliverable</th>
        </tr>
    </thead>
    <tbody>
        {%for a in deli%}
        <tr>
            <td>Report</td>
            <td><a href="{{a.report}}">{{a.report}}</a></td>
        </tr>
        <tr>
            <td>PPT</td>
            <td><a href="{{a.ppt}}">{{a.ppt}}</a></td>
        </tr>
        <tr>
            <td>G-Drive</td>
            <td><a href="{{a.gdrive_link}}">{{a.gdrive_link}}</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
    
</div >
{%endif%}

{%else%}
<p>
    {{rubrics_eval.usn}} 
    <h2 style="text-align: center;">Marks of students under your guidance</h2>
    <div style="text-align: center;display: flex;justify-content: center;">
    <table class="styled-table">
        <thead>
            <tr>
                <th>USN</th>
                <th>Rubrics(Category-PhaseNumber-RubricsName-MaxMarks)</th>
                <th>Marks obtained</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rubrics_eval %}
            <tr>
                <td>{{ i.usn }}</td>
                <td>{{ i.rubrics }}</td>
                <td>{{ i.r_marks_obtained}}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
</p>
{%endif%}


{%endblock%}