<h1>This is details page</h1>
<a href="/student">Home</a>
<p>{{student.name}}</p>
<p>{{student.email}}</p>
<p>{{student.usn}}</p>
<p>{{student.phone_no}}</p>
<p>{{student.brach}}</p>
<p>{{student.sem}}</p>
<p>{{student.cgpa}}</p>
<p><a href="#" onclick="show()">{{ prof.name }}</a></p>
<div id="myDIV">
    <p>{{prof.email}}</p>
    <p>{{prof.phone_no}}</p>
    <p>{{prof.email}}</p>

</div>
<script>
    function show()
    {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
        x.style.display = "block";
        }
        else {
        x.style.display = "none";
        }
    }
</script>